fastapi==0.115.0
uvicorn==0.30.6
psycopg2-binary==2.9.9
requests==2.32.3

sentence-transformers==3.1.1
transformers==4.44.2
torch==2.4.1
--extra-index-url https://download.pytorch.org/whl/cpu

passlib[bcrypt]==1.7.4
email-validator==2.1.1